{%
  set body_classes = [
    'unl',
    'cloud',
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
{% include wdn.directory ~ "/includes/global/head-1.html" %}
<!--
  Membership and regular participation in the University of Nebraska-Lincoln (UNL) Web Developer Network (WDN) is required to use the UNLedu Web Framework. Visit the WDN site at https://wdn.unl.edu/. Register for our mailing list and add your site or server to UNL Web Audit.
  All framework code is the property of the UNL Web Developer Network. The code seen in a source code view is not, and may not be used as, a template. You may not use this code, a reverse-engineered version of this code, or its associated visual presentation in whole or in part to create a derivative work.
  This message may not be removed from any pages based on the UNLedu Web Framework.
-->
<!-- InstanceBeginEditable name="doctitle" -->
<title>{{ head_title|safe_join(' | ') }}</title>
<!-- InstanceEndEditable -->
{% include wdn.directory ~ "/includes/global/head-2.html" %}
<!-- InstanceBeginEditable name="head" -->
<head-placeholder token="{{ placeholder_token|raw }}">
<css-placeholder token="{{ placeholder_token|raw }}">
<js-placeholder token="{{ placeholder_token|raw }}">
<!-- InstanceEndEditable -->
</head>
<body data-version="{{ wdn.version }}" data-template="cloud"{{ attributes.addClass(body_classes) }}>
{% include wdn.directory ~ "/includes/global/skip-nav.html" %}
{{ page_top }}
{{ page }}
{{ page_bottom }}
{% include wdn.directory ~ "/includes/global/js-body.html" %}
<!-- InstanceBeginEditable name="jsbody" -->
<js-bottom-placeholder token="{{ placeholder_token }}">
<!-- InstanceEndEditable -->
</body>
</html>
