<header class="dcf-header" id="dcf-header" role="banner">

  {{ page.header }}

  {% include wdn.directory ~ "/includes/global/nav-container-1.html" %}
  {% include wdn.directory ~ "/includes/global/nav-toggle-group.html" %}

  {{ page.navlinks }}

</header>

<main class="dcf-main" id="dcf-main" role="main" tabindex="-1">
  <!-- InstanceBeginEditable name="highlighted" -->
  <!-- InstanceEndEditable -->

  {{ page.hero }}

  <div class="dcf-main-content dcf-wrapper">
    <!-- InstanceBeginEditable name="maincontentarea" -->
    {{ page.content_top }}

    {% if has_sidebar_first and has_sidebar_second %}

      {# Both sidebar-first and sidebar-second. #}
      <div class="dcf-bleed">
        <div class="dcf-wrapper dcf-pt-0 dcf-pb-6">
          <section class="dcf-d-grid dcf-grid-cols-3@md dcf-col-gap-vw dcf-row-gap-6">

            {{ page.sidebar_first }}
            {{ page.content }}
            {{ page.sidebar_second }}

          </section>
        </div>
      </div>

    {% elseif has_sidebar_first or has_sidebar_second %}

      <div class="dcf-bleed">
        <div class="dcf-wrapper dcf-pt-0 dcf-pb-6">
          <section class="dcf-d-grid dcf-grid-cols-3 dcf-col-gap-vw dcf-row-gap-6">

            {# Only have a sidebar-first. #}
            {% if has_sidebar_first and not has_sidebar_second %}
              <div class="dcf-col-span-3 dcf-col-start-1@md dcf-col-end-2@md">
                {{ page.sidebar_first }}
              </div>

              <div class="dcf-col-span-3 dcf-col-start-2@md dcf-col-end-4@md">
                {{ page.content }}
              </div>
            {% endif %}

            {# Only have a sidebar-second. #}
            {% if not has_sidebar_first and has_sidebar_second %}
              <div class="dcf-col-span-3 dcf-col-start-1@md dcf-col-end-3@md">
                {{ page.content }}
              </div>

              <div class="dcf-col-span-3 dcf-col-start-3@md dcf-col-end-4@md">
                {{ page.sidebar_second }}
              </div>
            {% endif %}

          </section>
        </div>
      </div>

    {% else %}

      {{ page.content }}

    {% endif %}

    {{ page.content_bottom }}
    <!-- InstanceEndEditable -->
  </div>
</main>
<footer class="dcf-footer" id="dcf-footer" role="contentinfo">
  {% include wdn.directory ~ "/includes/global/footer-global-1.html" %}
  <!-- InstanceBeginEditable name="contactinfo" -->
  {{ page.contactinfo }}
  {{ page.leftcollinks }}
  <!-- InstanceEndEditable -->
  {% include wdn.directory ~ "/includes/global/footer-global-2.html" %}
  {% include wdn.directory ~ "/includes/global/footer-global-3-std.html" %}
  {% include wdn.directory ~ "/includes/global/noscript.html" %}
</footer>
