  <div class="dcf-main-content cms-main-content-partial dcf-wrapper">
    {{ page.content_top }}

    {% if has_sidebar_first and has_sidebar_second %}

      {# Both sidebar-first and sidebar-second. #}
      <div class="dcf-bleed">
        <div class="dcf-wrapper dcf-pt-0 dcf-pb-6">
          <section class="dcf-grid-thirds@md dcf-col-gap-vw dcf-row-gap-6">

            {{ page.sidebar_first }}
            {{ page.content }}
            {{ page.sidebar_second }}

          </section>
        </div>
      </div>

    {% elseif has_sidebar_first or has_sidebar_second %}

      <div class="dcf-bleed">
        <div class="dcf-wrapper dcf-pt-0 dcf-pb-6">
          <section class="dcf-grid dcf-col-gap-vw dcf-row-gap-6">

            {# Only have a sidebar-first. #}
            {% if has_sidebar_first and not has_sidebar_second %}
              <div class="dcf-col-100% dcf-col-33%-start@md">
                {{ page.sidebar_first }}
              </div>

              <div class="dcf-col-100% dcf-col-67%-end@md">
                {{ page.content }}
              </div>
            {% endif %}

            {# Only have a sidebar-second. #}
            {% if not has_sidebar_first and has_sidebar_second %}
              <div class="dcf-col-100% dcf-col-67%-start@md">
                {{ page.content }}
              </div>

              <div class="dcf-col-100% dcf-col-33%-end@md">
                {{ page.sidebar_second }}
              </div>
            {% endif %}

          </section>
        </div>
      </div>

    {% else %}

      {{ page.content }}

    {% endif %}

    {{ page.content_bottom }}
  </div>
